# (Data Science Tools and Ecosystem)

In this notebook, Data Science Tools and Ecosystem are summarized
#### **Objectives**
- **List popular languages for Data Science**
- **Introduce common Data Science libraries**
- **Demonstrate basic arithmetic operations in code**
- **Perform unit conversion in code**
- **Create tables in Markdown cells**

Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. SQL
4. JULIA

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

**Data Science Tools**

| Data Science Tools        |
|---------------------------|
| 1. Jupyter Notebook       |
| 2. RStudio                |
| 3. Visual Studio Code     |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
# This a simple arithmetic expression to mutiply then add integers.
result=(3*4)+5
result

17

In [8]:
#This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Neftali Morales